<section>
    <% @tags.each do |t| %>
        <div class="tag_section" tag_name="<%= t.name.gsub(' ','_') %>">
            <span><%= t.name %></span>
        </div>
    <% end %>
    
    <% @tags.each do |t| %>
        <div class="tag_section_links" id="<%= t.name.gsub(' ','_') %>_links">
            <% t.links.each do |l| %>
                <a href="<%= l.url %>" target="_blank" title="<%= l.description %>"><%= l.title %></a>
            <% end %>
        </div>
    <% end %>
</section>